<h1 class='wi'>{{ workers|length }} of {{ total_workers }} Workers Working</h1>
  <p class='intro'>The list below contains all workers which are currently running a job.</p>
  <table class='workers'>
    <tr>
      <th>&nbsp;</th>
      <th>Where</th>
      <th>Queue</th>
      <th>Processing</th>
  </tr>
  {% for worker in workers %}

    <tr>
        <td class='icon'><img src="{{ STATIC_URL }}resweb/{{ worker.state }}.png" alt="{{ worker.state }}" title="{{ worker.state }}"></td>
        <td class='where'><a href="{% url resweb-worker worker.w %}">{{ worker.host }}:{{ worker.pid }}</a></td>
        <td class='queues queue'>
          <a class="queue-tag" href="{% url resweb-queue worker.queue %}">{{ worker.queue }}</a>
        </td>
        <td class='process'>
            {% if worker.data %}
            <code>{{ worker.code }}</code> {# the resweb-working worker.w is unreversable. What to do? #}
            <small><a class="queue time" href="{% url resweb-working %}#{ worker.w }">{{ worker.runat }}</a></small>
            {% else %}
            <span class="waiting">Waiting for a job...</span>
            {% endif %}
        </td>
      </tr>

  {% empty %}
    <tr>
      <td colspan="4" class='no-data'>Nothing is happening right now...</td>
    </tr>
  {% endfor %}
  </table>


